/* 1. Define the BC Sans Font Family */
@font-face {
  font-family: 'BC Sans';
  src: url('../fonts/BCSans-Regular.woff2') format('woff2'),
       url('../fonts/BCSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BC Sans';
  src: url('../fonts/BCSans-Bold.woff2') format('woff2'),
       url('../fonts/BCSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BC Sans';
  src: url('../fonts/BCSans-Italic.woff2') format('woff2'),
       url('../fonts/BCSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

/* 2. Override Bootstrap Variables */
$font-family-sans-serif: "BC Sans", "Noto Sans", "Helvetica Neue", Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$headings-font-family: $font-family-sans-serif;

/* 3. Import Theme Styles */
@import "chulapa-skins";
@import "chulapa";
